<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crossmod</title>
	<meta name="description" content="A new AI-backed sociotechnical moderation system">
	<meta name="keywords" content=" sociotechnical systems; moderation; AI; machine learning; mixed initiative;participatory design; community norms; online communities; online governance; open source">
	<meta name="author" content="comp.social lab @ University of Michigan">
	<link rel="apple-touch-icon" sizes="57x57" href="static/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="static/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="static/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="static/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="static/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="static/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="static/favicons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="static/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="static/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="static/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="static/favicons/manifest.json">
	<link rel="shortcut icon" href="static/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-TileImage" content="static/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="static/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/all.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="logo"><a href="#"><img src="static/images/crossmod-logo.png" height="60px" style="margin-top: -15px" alt="Crossmod"></a></div>
				<nav id="nav">
					<div class="opener-holder">
						<a href="#" class="nav-opener"><span></span></a>
					</div>
					<div class="nav-drop">
						<ul>
							<li class="active visible-sm visible-xs"><a href="#">Home</a></li>
							<li><a href="https://ceshwar.github.io/crossmod/" target="_blank">Documentation</a></li>
							<li><a href="https://github.com/ceshwar/crossmod" target="_blank">Github</a></li>
							<li><a href="client.html">Try It Now</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
	<section class="visual">
		<div class="container">
			<div class="text-block">
				<div class="heading-holder">
					<h1>Crossmod</h1>
				</div>
				<p class="tagline">A new AI-backed sociotechnical moderation system for Reddit</p>
				<span class="info">making the internet safer and more welcoming</span>
			</div>
		</div>
		<img src="static/images/img-decor-01.jpg" alt="" class="bg-stretch">
	</section>
	<section class="main">
		<div class="container">
			<div id="cta">
				<a href="http://eegilbert.org/papers/cscw19-chand-crossmod.pdf" target="_blank" class="btn btn-primary rounded">See Our Paper</a>
				<p>Chandrasekharan, Gandhi, Mustelier &amp; Gilbert, 2019. Proc. ACM Hum.-Comput. Interact., CSCW</p>
			</div>
			<div class="row">
				<div class="text-box col-md-offset-1 col-md-10">
					<h2>What is Crossmod?</h2>
					<p>Crossmod  is  a  new  comment  moderation  bot  for  Reddit  that uses machine learning to assist moderators.
					   Crossmod is trained on a large amount of past moderation decisions from 100 popular subreddits. By combining AI predictions with human oversight, 
					   Crossmod determines content that is unacceptable within Reddit communities. </p>
					   <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 70%; max-width:788.54; height: 443px; min-width: 300px; display: block; margin:auto;" type="text/html" src="https://www.youtube.com/embed/nBcA2LApi_U?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/nl/">youtubeembedcode nl</a></small></div><div><small><a href="http://add-link-exchange.com">add-link-exchange</a></small></div></iframe>
					<br>
					<br>
					<div class="social-placeholder">
						<a class="github-button" href="https://github.com/ceshwar/crossmod/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch ceshwar/crossmod on GitHub">Watch</a>
						<a class="github-button" href="https://github.com/ceshwar/crossmod" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ceshwar/crossmod on GitHub">Star</a>
						<a class="github-button" href="https://github.com/ceshwar/crossmod/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork ceshwar/crossmod on GitHub">Fork</a>
					</div>
			</div>
		</div>
	</section>
	<section class="area">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="visible-xs visible-sm text-primary">&lt;Crossmod in Action&gt;</h2>
					<ul class="visual-list">
						<li>
							<div class="img-holder">
								<img src="static/images/graph-04.svg" width="110" alt="">
							</div>
							<div class="text-holder">
								<h3>Created to Improve the Current State of Moderation</h3>
								
								   <p>Crossmod is built to extend the capabilities of moderators, while also 
									fitting into their existing workflows. It aims to extend existing 
									social and automated approaches to moderation on Reddit. Crossmod can detect a wider
									range of undesirable content which is currently undetected by existing automated tools.</p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img class="pull-left" src="static/images/graph-03.svg" width="90" alt="">
							</div>
							<div class="text-holder">
								<h3>Infinite Customization</h3>
								<p>Crossmod can be configured using an intuitive <em>If This Then That</em> (IFTTT) format 
								   where moderators just create chains of simple conditional 
								   statements to trigger moderation actions. Crossmod does this by providing moderators with
								   a rich set of options, which they can use to customize the system 
								   to meet their subreddit-specific needs. </p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img src="static/images/graph-02.svg" height="84" alt="">
							</div>
							<div class="text-holder">
								<h3>Experiments Involving Crossmod</h3>
								<p>Crossmod is currently active on the <a href="https://www.reddit.com/r/Futurology/comments/eceiqz/using_an_ai_bot_trained_on_human_mod_actions_to/" target="_blank">r/Futurology</a> subreddit, listening in on comments, looking for norm violations and reporting them to moderators upon detection. </p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img src="static/images/graph-01.svg" height="71" alt="">
							</div>
							<div class="text-holder">
								<h3>A Time-Saver for Moderators</h3>
								<p>When Crossmod is added to a new subreddit, it begins to scan comments 
									and evaluates removal consensus among an ensemble of pre-trained classifiers. Removal consensus is 
									computed as the proportion of subreddits that would remove the comment. 
									Moderators will be able to set subreddit-specific score thresholds in order to triage
									and prioritize comments for manual review.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="slide-holder">
						<h2 class="hidden-xs hidden-sm text-primary">&lt;Crossmod in action&gt;</h2>
						<div class="img-slide scroll-trigger"><img src="static/images/img-01.png" height="624" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<a name="contact"></a>
	<section class="area">
		<div class="container">
			<div class="subscribe">
				<br><br><br><br>
				<h3>Contact Us Here</h3>
					<form class="form-inline">
						<button onclick="location.href='mailto:eshwar3@gatech.edu?Subject=Interested%20in%Crossmod'" type="submit" class="btn btn-primary rounded">EMAIL US</button>
					</form>
			</div>
		</div>
	</section>
</div>
<script src="static/js/jquery-1.11.2.min.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/jquery.main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
